@import url('../photo-grid/__item/photo-grid__item.css');

.photo-grid{
  width: 90%;
  margin: 0 auto 95px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-gap: 1em;
}

@media screen and (min-width: 1280px){
  .photo-grid{
    min-width: 1184px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .photo-grid{
    min-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .photo-grid{
    min-width: 720px;
  }
}

