.cover__subtitle{
  margin: auto;
  padding: 0 0 20%;
  width: 360px;
  font-family: Inter;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 426px){
  .cover__subtitle{
    width: 90%;
    font-size: 14px;
    line-height: 1.1;
  }
}

