.footer__links{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 560px){
  .footer__links{
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}