@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');

.intro{
  margin: 0 auto 92px 148px;
  padding: 0;
  width: 690px;
}

@media screen and (max-width: 1280px){
  .intro{
    margin: 0 auto 92px 48px;
  }
}

@media screen and (max-width: 768px){
  .intro{
    width: 90%;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 425px){
  .intro{
    margin: 0 auto 64px;
  }
}

