@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__link/cover__link.css');
@import url('./__background/cover__background.css');


.cover{
  margin: 0 auto 92px;
  padding: 0;
  width: 90%;
  max-width: 1184px;
}

@media screen and (min-width: 1024px){
  .cover{
    width: 100%;
    min-width: 1024px;
  }
}

@media screen and (min-width: 768px){
  .cover{
    width: 100%;
    min-width: 768px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px){
  .cover{
    width: 100%;
    min-width: 320px;
    margin-bottom: 64px;
  }
}