.cover__title{
  margin: 0 auto 32px;
  padding: 20% 0 0;
  width: 560px;
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 560px){
  .cover__title{
    width: 90%;
    font-size: 48px;
    line-height: 1.1;
    padding-top: 90px;
  }
}

@media screen and (max-width: 426px){
  .cover__title{
    width: 90%;
    font-size: 32px;
    line-height: 1.1;
    padding-top: 33px;
    margin-bottom: 16px;
  }
}

